<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <div class="page-header">
            <h3>Login Administrador</h3>
        </div>

        <form class="producto form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Usuario:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Contraseña:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <br>





                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Ingresar</button>

                </div>
            </fieldset>
        </form>
    </div>
</section>
