<center>
    <section class="resume-section" id="interests">
        <div class="resume-section-content">


            <div class="page-header">
                <h3>Registrar tratamiento</h3>
            </div>



            <div class="control-group">
                <br />
                <label class="control-label">Nombre Tratamiento:</label>
                <div class="controls">
                    <select class="input-xlarge" id="">

                        <option class="input-xlarge">****Endodoncia****       </option>
                        <option class="input-xlarge">****Blanqueamiento****</option>
                        <option class="input-xlarge"> ****Protesis****</option>
                    </select>
                </div>
            </div>
            <br />

            <div class="control-group">
                <label class="control-label">Valor:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text">
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class="control-label">Odontologo:</label>
                <div class="controls">
                    <select class="input-xlarge" id="">

                        <option class="input-xlarge">****Danny Gutierrez****       </option>
                        <option class="input-xlarge">****Claudio Quezada****</option>
                        <option class="input-xlarge"> ****Fabian Zenteno****</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <button type="reset" class="btn">Limpiar</button>
            </div>
            </fieldset>
            </form>

        </div>
    </section>
    </center>










