<div class="page-header">
    <h1>Ver Tratamiento</h1>
</div>

<form class="producto form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Nombre:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="Endodoncia" disabled>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Valor:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="80000" disabled>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Encargado:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="Juan Perez" disabled>
            </div>
        </div>
       
       




    </fieldset>
</form>