<center>
    <div class="page-header">
        <h1>Editar Paciente</h1>
    </div>

    <form class="producto form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Nombre:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Carlos">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Apellido:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Perez">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Fecha:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="18-06-2020">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Hora:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="15:00">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Odontologo:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Briones">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Telefono:</label>
                <div class="controls">
                    <input class="input-xlarge" type="number" value="985244856">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Motivo:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Dolor de muela">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Editar</button>
                <button type="reset" class="btn">Limpiar</button>
            </div>
        </fieldset>
    </form>
    </center>
