<div class="page-header">
    <h1>Ver paciente</h1>
</div>

<form class="producto form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Nombres:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="Claudio Andres" disabled>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Apellidos:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="Quezada Garcia" disabled>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Rut:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="1111111-1" disabled>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Edad:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="34" disabled>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Direccion:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="Chiguayante" disabled>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Telefono:</label>
            <div class="controls">
                <input class="input-xlarge" type="number" value="1111111" disabled>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Correo:</label>
            <div class="controls">
                <input class="input-xlarge" type="email" value="c@ejemplo.cl" disabled>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Prevision:</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="q" value="1" disabled checked> Fonasa
                </label>
                <label class="radio">
                    <input type="radio" name="q" value="2" disabled> Isapre
                </label>
            </div>
        </div>
    </fieldset>
</form>