
<section class="resume-section" id="interests">
    <div class="resume-section-content">


        <div class="page-header">
            <h3>Crear cita</h3>
        </div>

        <form class="producto form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Nombre:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Apellido:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="number">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Hora:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="number">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Odontologo</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Telefono:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="number">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Motivo:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <br />

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                    <button type="reset" class="btn">Limpiar</button>
                </div>
            </fieldset>
        </form>

    </div>
</section>










