<center>
    <div class="page-header">
        <h1>Editar Cita</h1>
    </div>

    <form class="producto form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Nombres:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Claudio Andres">
                </div>
            </div>



            <div class="control-group">
                <label class="control-label">Apellidos:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Quezada Garcia">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Rut:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="11111111">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Edad:</label>
                <div class="controls">
                    <input class="input-xlarge" type="number" value="34">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Direccion:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Chiguayante">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Telefono:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="1111111111">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Correo:</label>
                <div class="controls">
                    <input class="input-xlarge" type="email" value="c@ejemplo.cl">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Prevision:</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="q" value="1" checked> Fonasa
                    </label>
                    <label class="radio">
                        <input type="radio" name="q" value="2"> Isapre
                    </label>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Editar</button>
                <button type="reset" class="btn">Limpiar</button>
            </div>
        </fieldset>
    </form>
    </center>
