<section class="resume-section" id="interests">
    <div class="resume-section-content">


        <div class="page-header">
            <h3>Registrar paciente</h3>
        </div>

        <form class="producto form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Nombres:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Apellidos:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rut:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Edad:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="number">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Direccion</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Telefono:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Correo:</label>
                    <div class="controls">
                        <input class="input-xlarge" type="email">
                    </div>
                </div>
                <br />

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                    <button type="reset" class="btn">Limpiar</button>
                </div>
            </fieldset>
        </form>

    </div>
</section>










