<center>
    <div class="page-header">
        <h1>Ver Odontologos</h1>
    </div>

    <form class="producto form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Nombre:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Carlos" disabled>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Apellido:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Perez" disabled>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Fecha:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="18-06-2020" disabled>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Hora:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="15:00" disabled>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Odontologo:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Briones" disabled>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Telefono:</label>
                <div class="controls">
                    <input class="input-xlarge" type="number" value="985244856" disabled>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Motivo:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Dolor de muela" disabled>
                </div>
            </div>


        </fieldset>
    </form>
</center>